@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
#inicio{
    background: url('../images/pattern.jpg');
    height: 662px;
    display: flex;
}
#inicio .container{
    max-width: 500px;
    text-align: center;
    height: 200px;
    width: 500px;
    border: 3px solid white;
    margin-top: 200px;
    padding: 20px 20px;
    font-size: 30px;
    color: white;
}
.nav{
    margin-top: 70px;
}
.nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.nav a:hover{
    color: rgb(222,224,222)
}
.titulo{
    font-weight: 300;
    font-size: 50px;
}
.subtitulo{
    font-size: 50px;
    font-weight: 400;
}
#sobre{
    padding:50px;
    height: 662px;
    text-align: center;
}
h1{
    margin: 30px 0;
}
#sobre .container{
    width: 100%;
}
#sobre h1:after{
    content: ". . .";
    color: #028F97;
    display: block;
    font-size: 50px;
    margin-top: -30px;
}
#sobre p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
}
#sobre .voltar{
    margin: 150px 0 0 0;
}
#sobre .descer{
    text-align: right;
}
.curriculo{
    color: #028F97;
    font-size: 20px;
}
.descer a{
    color: #028F97;
    font-weight: bold;
    text-decoration: none;
}
.descer a:after{
    content: "▼";
    padding: 10px;
    font-size: 30px;
}
#trabalhos{
    padding: 50px;
    background: #d6d8d6;    
}
#trabalhos h1{
    text-align: center;
}
#trabalhos h1:after{
    content: ". . .";
    color: #028F97;
    display: block;
    font-size: 50px;
    margin-top: -30px;
}
#trabalhos h2{
    text-align: center;
}
.flex{
    display: flex;
}
.texto{
    font-size: 20px;
    margin: 0 20px;
}
.traço{
    color: #028F97;
    font-size: 30px;
    text-align: center;
}
#trabalhos .container{
    max-width: 700px;
}
.work{
    text-align: center;
}
.descriçao{
    padding: 20px 10px;
    font-size: 15px;
}
.work div img{
    width: 100%;
}
.slide{
    width: 700px !important;
    height: 320px;
}
.carousel-inner{
    width: 500px;
    margin-left: 100px;
}
.carousel-control{
    background: #d6d8d6 !important;
}
.carousel-indicators li{
    background: #028F97;
    border-color: white;
}
.voltar{
    text-align: right;
}
.voltar a{
    color: #028F97;
    font-weight: bold;
    text-decoration: none;
}
.voltar a:after{
    content: "▲";
    padding: 10px;
    font-size: 30px;
}
footer{
    background: rgb(228,120,48);
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer p{
    margin: 0 auto;
}